body {
  width: 550px;
  height: 550px;
  background-color: #ECFDF5;
  top: 64px;
  left: 64px;
}

.header {
  position: absolute;
  font-family: Karla;
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  top: 115px;
  left: 52px;
  letter-spacing: -0.05em;
}

.header-green {
  color: #10B981;
}

.main-text {
  position: absolute;
  left: 52px;
  top: 220px;
  color: #6B7280;
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

button {
  background-color: #10B981;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  position: absolute;
  top: 304px;
  left: 52px;
  width: 191px;
  height: 42px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  padding: 9px, 17px, 9px, 15px;
}

button:hover {
  cursor: pointer;
}

button:active {
  margin-left: 1px;
  margin-top: 1px;
}

.canvas {
  color: #d9d4d8;
  position: absolute;
  width: 446px;
  height: 0px;
  left: 52px;
  top: 381px;
  border: 1px solid #d5d4d8;
}

.password-container1 {
  background-color: #273549;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #5DEF92;
  width: 192px;
  height: 39px;
  top: 416px;
  left: 52px;
  border-radius: 6px;
  text-align: center;
  position: absolute;
  padding: 6px 15px 3px 16px;
  margin-right: 24px;
}

.password-container2 {
  background-color: #273549;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #5DEF92;
  width: 192px;
  height: 39px;
  top: 416px;
  left: 297px;
  border-radius: 6px;
  text-align: center;
  position: absolute;
  padding: 6px 10px 3px 11px;
}